.bigbox {
  background-color: bisque;
}
#submit {
  padding: 1rem;
  font-size: 1rem;
  background: powderblue;
  border-radius: 1rem;
  transition: 0.5s;
}

#practice:hover {
  background: cornflowerblue;
  color: white;
  transition: 0.5s;
}
